@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Alike);

body {
  margin: 0;
color: #141237;
}

header {
  margin: 0 auto;
  width: 1000px;
  background-image:url(../images/flag.jpg);
  background-size:cover;


}


header h1 {
  text-align: center;
  margin: 0;
  padding-top: .25em;
  color:#9d0609;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  font-family: "Alike", sans-serif;
  font-size: 250%;
  font-weight: 700;

}

header h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 1em;
  color:#9d0609;
  font-family: "Alike", sans-serif;
  font-size: 250%;
  font-weight: 700;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

h3 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #65668c;
  font-family: "Alike", sans-serif;
  font-size: 150%;
  font-weight: 700;

}
ul{

list-style-image: url(../images/star.png);
}

p {
  margin: 0;
  margin-bottom: 10px;
}

nav {
  margin: 0 auto;
  width: 1000px;
  padding: 5px 0;
  text-align: center;
  background-color: #9d0609;
  border: #141237;
}

nav a {
  margin: 0 35px;
  color: #141237;
}

.floatright {
  float: right;
  margin-left: 10px;
}

#maincolumn {
  margin: 0 auto;
  width: 1000px;
  padding: 5px 15px;
  background-color: #b9b4b5;
  font-family: "Lato", sans-serif;
  font-size: 100%;
  font-weight: 400;

}
